<div class="container">
    <h2 class="text-center"><b>Tracked Videos List</b></h2>
</div>

<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Number</th>
                        <th scope="col">Title</th>
                        <th scope="col">YouTube Link</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <% videos.forEach((video) => { %>
                    <tr>
                        <th scope="row"><%= video.number %> </th>
                        <td><%= video.title %> </td>
                        <td><a href="<%= video.url %> " style="color: #00a9ea">Link</a></td>
                        <th>
                            <% if(role === 'admin') { %> 
                                <div class="btn-group"  >
                                    <a href="/details/<%= video.number %>" class="btn btn-info btn-sm badge" style="background-color: #00a9ea;">Details</a>
                                    <button type="button" class="btn btn-info btn-sm dropdown-toggle dropdown-toggle-split badge" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: #00a9ea;">
                                        <span class="visually-hidden">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="/edit/<%= video.number %>" class="dropdown-item">Edit</a></li>
                                        <li><a href="/delete/<%= video.number %>" class="dropdown-item">Delete</a></li>
                                    </ul>
                                </div>
                            <% } else { %> 
                                <a class="btn btn-info btn-sm badge" style="background-color: #00a9ea">Details</a>
                            <% } %> 
                        </th>
                    </tr>
                    <% }); %>
                </tbody>
            </table>
            <% if(videos.length === 0) { %> 
                <div class="alert alert-info text-center" role="alert" style="background-color: rgba(0, 169, 234, 0.5)">
                    No video in record.
                </div>
            <% } %> 
        </div>
    </div>
</div>

